@import '../../constants/styles';
@import '../../constants/overlay';

[data-element=menuOverlay] {
  .ActionButton {
    @include button-reset;
    padding-left: 12px;
    padding-right: 18px;
    border-radius: 0px;
    justify-content: start;

    .Icon {
      margin: 4px;
    }
  
    span {
      margin: 0 4px;
    }

    &.disabled {
      cursor: default;
    }
  }
}
